.game-area {
  width: 400px;
  height: 600px;
  border: 2px solid #000;
  position: relative;
  background-color: #d6e1eb;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

.player {
  width: 40px;
  height: 40px;
  background-image: url("character.png");
  background-size: cover;
  position: absolute;
  bottom: 10px;
  border-radius: 50%;
}

.poop {
  width: 30px;
  height: 30px;
  background-image: url("poop.png");
  background-size: cover;
  position: absolute;
}

.btn-primary {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.alert {
  width: 300px;
  margin: auto;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 10px;
}

.alert button {
  float: right;
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
